
*{
    font-family: 'Poppins', sans-serif;
}
.small-text-color{
    color: $smallTextColor;
}
.second-color-text{
    color: $secondTextColor;
}
.bold-text-color{
    color: $boldText;
}
.basic-text-color{
    color: #7a6675;
}
.main-color-text{
    color: $mainColor;
}
.underline-main-link{
    color: $mainColor;
    font-weight: bold;
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-color: rgb(200, 200, 200);
}
.subtitle-text{
    color: grey;
    letter-spacing: 2px;
    font-size: 14px;
}
.main-btn-style{
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color:$mainColor;
    font-weight: bold;
    font-size: 14px;
    &:hover{
        background-color: #3f3a64;
        color: white;
    }
}

.p-text{
   color:$pText;
}

.py-large{
    padding: 100px 0;
}
.z-index-n1{
    z-index: -1;
}
.circle-bg-image{
    font-size: 50px;
    color: burlywood;
}
.carousel-dot{
    font-size: 12px;
    color: $smallTextColor;
}
.opacity-carousel{
    opacity: 0.4;
}
.active{
    font-size: 14px;
    color: black;
}